.piano {
  &-hd {
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 4em;
  }

  &-bd {
    .section {
      text-align: center;
    }
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    user-select: none;
    text-align: center;
    color: #4285f4;
    border: 1px #4285f4 solid;
    margin: 2px;
    &.active {
      color: #fff;
      background: rgba(66, 133, 244, 0.4);
    }
  }

  .level0::after {
    content: '.';
    position: relative;
    top: 4px;
    left: -7px;
  }

  .level2::before {
    content: '.';
    position: relative;
    top: -16px;
    left: 7px;
  }

  .song-list {
    // width: 100%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .btn-song {
      color: #666;
      padding: 3px 14px;
      margin: 0 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      background: #fff;
    }
  }
}

.audio-canvas {
  &-wrap {
    text-align: center;
  }
  background: #f8f8f8;
}
